:root{
    /*  color guide:
    --color-bg: background color
    --color-ti-h: title heading color
    --color-ti-st: title stroke color
    --color-ti-sh: title subheading color
    --color-se-h: section heading color
    --color-se-s: section stroke color
    --color-se-l: section link color
    --color-se-l-h: section link hover color
    --color-se-hi: section highlight color
    --color-se-p: section paragraph color
    */
    
    /*  classic color theme:
    --color-bg: whitesmoke;
    --color-ti-h: #64DAE1;
    --color-ti-st: #FFD05C;
    --color-ti-sh: #FE5DCD;
    --color-se-h: #6F81DE;
    --color-se-s: #FFE299;
    --color-se-l: #EE61C3;
    --color-se-hi: #6BC3C9;
    --color-se-p: #8F7B89;
    */
    
    --color-bg: whitesmoke;
    --color-ti-h: dodgerblue;
    --color-ti-st: #FFD05C;
    --color-ti-sh: cornflowerblue;
    --color-se-h: deepskyblue;
    --color-se-s: #FFE299;
    --color-se-l: mediumseagreen;
    --color-se-l-h: lightgreen;
    --color-se-hi: lightskyblue;
    --color-se-p: #8F7B89;

}


html{
    font-size: 62.5%;
    color: mediumseagreen;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-bg);
    overflow-x: hidden;
}

.header{
    width: 80vw;
    padding: 10vh;
    padding-bottom: 6vh;
    padding-top: 7vh;
}

.headerStroke {
    width: 50vw;
    height: 1vh;
    background-color: var(--color-ti-st);
}

.headerText{
    font-size: 10vh;
    margin: 0;
    color: var(--color-ti-h);
}

.headerSubtext{
    color: var(--color-ti-sh);
    font-size: 4vh;
    margin: 0;
    margin-top: 1vh;
}

.secondaryHeader {
    padding-top: 0;
}

.secondaryHeaderText {
    font-size: 7vh;
    margin: 0;
    color: var(--color-se-h);
}

.secondaryHeaderStroke {
    width: 30vw;
    height: 1vh;
    background-color: var(--color-se-s);
}

.secondaryHeaderSubtext {
    color: var(--color-se-p);
    font-size: 3vh;
}

.secondaryLink{
    color: var(--color-se-l);
    text-decoration: none;
    transition: color 200ms;
}

.secondaryLink:hover{
    color: var(--color-se-l-h);
}

.secondaryHighlight{
    color: var(--color-se-hi);
}

.headerListItem{
    color: var(--color-se-p);
    font-size: 3vh;
}

.imageFlex{
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
}

.imageFlexItem{
    margin: 2rem;
    box-shadow: 1rem 1rem;
}


@media only screen and (max-width: 1080px) and (orientation: portrait) {
    .headerStroke{
        width: 80%;
    }
    
    .secondaryHeaderStroke{
        width: 70%;
    }
}